<!-- Begin .header -->
<header class="header cf" role="banner">
  {% include "atoms-logo" %}
  <a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
  <a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
  {% include "molecules-primary-nav" %}
  {% include "molecules-search" %}
</header>
<!-- End .header -->


<header class="vlt-header vlt-header--default headroom headroom--not-bottom headroom--pinned headroom--top unscroll"
        data-is-sticky="1">
  <div class="container">
    <div class="vlt-header__inner d-flex align-items-center justify-content-between">


      <div class="d-flex"><a href="./index.html" class="vlt-header__logo">
          <img src="../property/images/hd-logo.png" style="height: 60px;">
        </a>
      </div>


      <div class="d-flex align-items-center">

        <div class="hidden-md-down">
          <nav class="vlt-primary-nav">
            <div class="menu-primary-menu-container">
              <ul id="menu-primary-menu" class="sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                <li id="menu-item-3871"
                    class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3871">
                  <a class="white" href="./index.html"><span>Cyprus Casinos</span></a>
                </li>

                <li id="menu-item-rewards"
                    class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-939">
                  <a class="white" href="./rewards.html"><span>Rewards</span></a>
                </li>

                <li id="menu-item-3514"
                    class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3514">
                  <a class="white" href="./game.html"><span>Games</span></a>
                </li>

                <li id="menu-item-dining"
                    class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-939">
                  <a class="white" href="./dining.html"><span>Dining</span></a>

                </li>

                <li id="menu-item-1047"
                    class="enable menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1047">
                  <a class="white" href="./careers.html"><span>Careers</span></a>

                </li>

                <li id="menu-item-939"
                    class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-939">
                  <a href="./responsible-gaming.html"><span>Responsible Gaming</span></a>

                </li>

                <li id="menu-item-3677"
                    class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3677">
                  <a class="white" href="./contact-us.html"><span style="text-transform: none;">CONTACT US</span></a>
                </li>

                <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-1045">
                  <a class="left" href="../en/index.html">EN&nbsp;|</a>
                  <a class="right" href="../gr/index.html">&nbsp;GR</a>
                </li>

                <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-1045">
                  <social-tag style="display: inline-block">
                    <a target="_blank" style="display:inline-block"
                       href="https://www.facebook.com/C2.CyprusCasinos/"><span>FOLLOW US:</span><img
                        src="../property/images/social/fb.png" style="vertical-align: -5px;"></a>
                    <a target="_blank" style="display:inline-block"
                       href="https://www.instagram.com/cyprus_casinos/"><img src="../property/images/social/ig.png"
                                                                             style="vertical-align: -5px;"></a>
                  </social-tag>
                  <br class="clear">
                </li>

              </ul>
            </div>
          </nav>
        </div>
        <div class="hidden-lg-up"><a href="index.html#" id="vlt-mobile-menu-toggle" class="vlt-menu-burger"> <i
              class="fa fa-bars"></i> </a></div>

      </div>
    </div>
  </div>
  <div class="hidden-lg-up">
    <nav class="vlt-mobile-nav">
      <div class="menu-primary-menu-container">
        <ul id="menu-primary-menu-1" class="sf-menu sf-js-enabled sf-arrows">

          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-3514">
            <a href="./index.html"><span>Cyprus Casinos</span></a>
          </li>
          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-rewards">
            <a href="./rewards.html"><span>Rewards</span></a>
          </li>
          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-3422">
            <a href="./game.html"><span>Games</span></a>
          </li>
          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-dining">
            <a href="./dining.html"><span>Dining</span></a>
          </li>

          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-939">
            <a href="./careers.html"><span>Careers</span></a>
          </li>

          <li class="enable menu-item menu-item-type-custom menu-item-object-custom menu-item-1047">
            <a href="./responsible-gaming.html"><span>Responsible Gaming</span></a>
          </li>

          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-1045">
            <a href="./contact-us.html"><span style="text-transform: none;">CONTACT US</span></a>
          </li>

          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-1045">
            <div class="row-container">
              <a class="left" href="../en/index.html">EN</a>
              <a class="right" href="../gr/index.html">GR</a>
              <br class="clear">
            </div>
          </li>

          <li class="enable menu-item menu-item-type-post_type menu-item-object-page menu-item-1045">
            <social-tag style="display: inline-block">
              <!--
              <a target="_blank" style="display:inline-block" href="https://www.facebook.com/C2.CyprusCasinos/"><i class="fa fa-facebook"></i></a>
              <a target="_blank" style="display:inline-block" href="https://www.instagram.com/cyprus_casinos/"><i class="fa fa-fw fa-instagram"></i></a>
              -->
              <a target="_blank" style="display:inline-block" href="https://www.facebook.com/C2.CyprusCasinos/"><img
                  src="../property/images/social/fb.png"></a>
              <a target="_blank" style="display:inline-block" href="https://www.instagram.com/cyprus_casinos/"><img
                  src="../property/images/social/ig.png"></a>
            </social-tag>
            <br class="clear">
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>