<header class="site-header">
  <div class="header-inner-wrapper">

  <div class="site-header__logo-container">
    {% include "atoms-logo" %}
  </div>


  <div class="site-header__nav-container">
    {% include "molecules-primary-nav" %}
  </div>


  <div class="site-header__lang-container">
    {% include "molecules-lang-selector" %}
  </div>


  <div class="site-header__social-container">
    {% include "atoms-social-tags" %}
  </div>


  <div class="site-header__burger-container">
    <a href="index.html#" id="vlt-mobile-menu-toggle" class="vlt-menu-burger">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  </div>
</header>
