.site-header {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 80px;

  &__logo-container {
    margin-right: auto;
  }

  &__nav-container {

  }

  &__lang-container {

  }

  &__social-container {
    display: flex;
    align-items: center;
  }

  &__burger-container {

  }

  .header-inner-wrapper {
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 80px;
  }
}



// common class, can be used in item. used in most menu's in this site
.nav-list {
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    padding-right: 12px;
    float: left;
  }

    a {
      text-decoration: none;
      line-height: 1.2;
      letter-spacing: 1px;
      color: $gray-dark;
      text-transform: uppercase;
    }
}

.social-list {
  &__item {
    padding-right: 0;
    a {
      display: flex;
      align-items: center;
    }
  }
}

.lang__list {
  &__item:first-child {
    padding-right: 5px;
    &::after {
      content: '|';
      padding-left: 5px;
    }
  }
}

.site-logo img {
  height: 60px;
}