<ul class="lang__list nav-list">
  <li class="lang__list__item nav-list__item"><a href="../en/index.html">EN</a></li>
  <li class="lang__list__item nav-list__item"><a href="../gr/index.html">GR</a></li>
</ul>