<p>Dear Guest,</p>
  <p>Welcome to Cyprus Casinos!</p>
  <p>Cyprus Casinos is the first casino in Cyprus from the world renowned Melco Group who is also bringing City of
    Dreams Mediterranean to Cyprus!</p>
  <p>Cyprus Casinos is open 24 hours a day 7 days a week.</p>
  <p>The gaming area at Cyprus Casinos in Limassol is a spacious 1300 square meters and comprises 33 of the most
    popular Table Games and 258 state-of-the-art Slot Machines, all at limits to meet your individual gaming
    requirements. Salon Prive is for those guests who prefer a more private gaming area.</p>

  <p>In addition to world-class gaming, our restaurant, “Columbia Bistro”, and our 2 bars serve a savory variety of
    cuisines, snacks and beverages. We also offer complimentary and convenient parking.</p>
  <p>Our well-trained, welcoming and friendly team members always deliver the highest standards of customer service to
    all guests. We are also committed to providing our guests with a welcoming environment so that they can fully enjoy
    their gaming experience.</p>
  <p>Responsible Gaming is at the heart of the Cyprus Casinos’ policies. We believe that playing responsibly allows
    everyone to “Keep It Fun”.</p>
  <p>Join our C2 Rewards Club loyalty program and take advantage of the many benefits that membership offers now and in
    the future as we add more and more features and benefits. Membership is free of charge and to complete the easy
    registration process, simply bring your passport or ID when you visit.</p>

  <p>For more information, please ask any of our team members about our gaming or non-gaming facilities. They will be
    more than happy to assist you!</p>
  <!--<p><a target="_blank" href="./dining.html"><u>Responsible Gaming</u></a></p>-->
  <p><a target="_blank" href="responsible-gaming.html"><u>Responsible Gaming </u></a>- Set your limits and game responsibly.</p>
  <p>
    Entrance is free of charge. Must be 21 or older to enter.
    <br>
    <a target="_blank" href="../property/pdf/index/Casino-House%20Rules-FINAL3(45x100)%20(split_EN).pdf"><u>Click here to see the full HOUSE RULES for Cyprus Casinos</u></a>
  </p>
  <p>Cyprus Casinos is owned and operated by Integrated Casino Resorts Cyprus Ltd, part of Melco Group and is the only
    authorised casino in The Republic of Cyprus to be fully licensed. Cyprus Casinos is currently developing four additional
    satellite casinos in Larnaca, Pafos, Nicosia and Avia Napa.</p>

