<table class="table-rewards-dark">
  <thead>
  <tr>
    <th scope="row"></th>
    <th scope="col">WHITE CARD</th>
    <th scope="col">RED CARD</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th scope="row">Point Collection and Gift Redemption</th>
    <td>✓</td>
    <td>✓</td>
  </tr>
  <tr>
    <th>Point redemption at Slot machines (Point Play) and Rewards Club for Free</th>
    <td>✓</td>
    <td>✓</td>
  </tr>
  <tr>
    <th>Birthday free play</th>
    <td>✓</td>
    <td>✓</td>
  </tr>
  <tr>
    <th scope="row">Monthly match pay voucher</th>
    <td>€10</td>
    <td>€25</td>
  </tr>
  <tr>
    <th scope="row">Weekly columbia generic voucher</th>
    <td>Pay €5 get €10</td>
    <td>Pay €10 get €20</td>
  </tr>
  <tr>
    <th scope="row">Point Collection and Gift Redemption</th>
    <td>✓</td>
    <td>Pay €5 get €10</td>
  </tr>
  <tr>
    <th scope="row">Monthly Columbia Bistro Voucher</th>
    <td>&nbsp;</td>
    <td>€10</td>
  </tr>
  <tr>
    <th scope="row">Participation in exclusive promotions</th>
    <td>✓</td>
    <td>✓</td>
  </tr>
  <tr>
    <th scope="row">
      * Additional conditions might apply
      <br>
      * Month = A calendar month
    </th>
    <td colspan="2">
      Notes
      <br>
        1. The required points must be accumulated within 6 months
      <br>
        2. Points earning ratio, might be different from game to game
      <br>
        3. Participants must be 21 years old or above
    </td>
  </tr>
  </tbody>
</table>