<span>FOLLOW US:</span>
<social-tag>
  <ul class="social-list nav-list">
    <li class="social-list__item nav-list__item">
      <a target="_blank" href="https://www.facebook.com/C2.CyprusCasinos/">
        <img src="../../images/fb.png">
      </a>
    </li>
    <li class="social-list__item nav-list__item">
      <a target="_blank" href="https://www.instagram.com/cyprus_casinos/">
        <img src="../../images/ig.png">
      </a>
    </li>
  </ul>
</social-tag>